USE [master]
GO
/****** Object:  Database [TaskManagementSystem]    Script Date: 02/14/2025 11:43:40 AM ******/
CREATE DATABASE [TaskManagementSystem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TaskManagementSystem', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\TaskManagementSystem.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TaskManagementSystem_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\TaskManagementSystem_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TaskManagementSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TaskManagementSystem]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 02/14/2025 11:43:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Actions]    Script Date: 02/14/2025 11:43:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Actions](
	[ID] [tinyint] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Actions] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 02/14/2025 11:43:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [tinyint] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_dbo.Roles] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaskLogs]    Script Date: 02/14/2025 11:43:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaskLogs](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[DueDate] [datetime] NOT NULL,
	[TaskPriorityID] [tinyint] NOT NULL,
	[TaskStatusID] [tinyint] NOT NULL,
	[UserID] [int] NOT NULL,
	[ActionID] [tinyint] NOT NULL,
	[DateTimeCreated] [datetime] NOT NULL,
	[CreatedBy] [int] NOT NULL,
 CONSTRAINT [PK_dbo.TaskLogs] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaskPriorities]    Script Date: 02/14/2025 11:43:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaskPriorities](
	[ID] [tinyint] IDENTITY(1,1) NOT NULL,
	[PriorityName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_dbo.TaskPriorities] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tasks]    Script Date: 02/14/2025 11:43:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tasks](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[DueDate] [datetime] NOT NULL,
	[TaskPriorityID] [tinyint] NOT NULL,
	[TaskStatusID] [tinyint] NOT NULL,
	[UserID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Tasks] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaskStatuses]    Script Date: 02/14/2025 11:43:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaskStatuses](
	[ID] [tinyint] IDENTITY(1,1) NOT NULL,
	[StatusName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_dbo.TaskStatuses] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 02/14/2025 11:43:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](max) NULL,
	[RoleID] [tinyint] NOT NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Actions] ON 

INSERT [dbo].[Actions] ([ID], [Description]) VALUES (1, N'Insert')
INSERT [dbo].[Actions] ([ID], [Description]) VALUES (2, N'Update')
INSERT [dbo].[Actions] ([ID], [Description]) VALUES (3, N'Delete')
SET IDENTITY_INSERT [dbo].[Actions] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (1, N'Admin')
INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (2, N'Regular User')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[TaskLogs] ON 

INSERT [dbo].[TaskLogs] ([ID], [Title], [Description], [DueDate], [TaskPriorityID], [TaskStatusID], [UserID], [ActionID], [DateTimeCreated], [CreatedBy]) VALUES (21, N'A1', N'A1', CAST(N'2025-02-06T13:29:00.000' AS DateTime), 1, 1, 2, 1, CAST(N'2025-02-05T13:29:48.207' AS DateTime), 2)
INSERT [dbo].[TaskLogs] ([ID], [Title], [Description], [DueDate], [TaskPriorityID], [TaskStatusID], [UserID], [ActionID], [DateTimeCreated], [CreatedBy]) VALUES (22, N'A1 EDITED', N'A1 EDITED', CAST(N'2025-01-12T13:29:00.000' AS DateTime), 3, 2, 2, 2, CAST(N'2025-02-05T13:30:35.277' AS DateTime), 2)
INSERT [dbo].[TaskLogs] ([ID], [Title], [Description], [DueDate], [TaskPriorityID], [TaskStatusID], [UserID], [ActionID], [DateTimeCreated], [CreatedBy]) VALUES (23, N'A1 EDITED', N'A1 EDITED', CAST(N'2025-01-12T13:29:00.000' AS DateTime), 3, 2, 2, 3, CAST(N'2025-02-05T13:32:51.457' AS DateTime), 2)
GO
SET IDENTITY_INSERT [dbo].[TaskLogs] OFF
GO
SET IDENTITY_INSERT [dbo].[TaskPriorities] ON 

INSERT [dbo].[TaskPriorities] ([ID], [PriorityName]) VALUES (3, N'High')
INSERT [dbo].[TaskPriorities] ([ID], [PriorityName]) VALUES (1, N'Low')
INSERT [dbo].[TaskPriorities] ([ID], [PriorityName]) VALUES (2, N'Medium')
SET IDENTITY_INSERT [dbo].[TaskPriorities] OFF
GO
SET IDENTITY_INSERT [dbo].[Tasks] ON 

INSERT [dbo].[Tasks] ([ID], [Title], [Description], [DueDate], [TaskPriorityID], [TaskStatusID], [UserID]) VALUES (29, N'UERM HIMS by Sir Jeffrey', N'Replace the UERM.exe in .169 Folder', CAST(N'2025-02-05T14:00:00.000' AS DateTime), 3, 3, 2)
INSERT [dbo].[Tasks] ([ID], [Title], [Description], [DueDate], [TaskPriorityID], [TaskStatusID], [UserID]) VALUES (30, N'UERM HIMS by Sir Jeffrey', N'Update the SP from Prod to Testing : Usp_jf_GetChargingPharmacyV5, Usp_jf_GetChargingProceduresV5, Usp_jf_SaveAutoChargesV5, Usp_jf_SaveChargesV5', CAST(N'2025-02-05T15:27:00.000' AS DateTime), 3, 3, 2)
INSERT [dbo].[Tasks] ([ID], [Title], [Description], [DueDate], [TaskPriorityID], [TaskStatusID], [UserID]) VALUES (46, N'Inconsistent Percent Discount in Social Service (20%) and Charging (30%)', N'Inconsistent Percent Discount in Social Service Module (20%) and Charging Module (30%) with case no : (0100508)', CAST(N'2025-02-06T17:00:00.000' AS DateTime), 3, 3, 3)
SET IDENTITY_INSERT [dbo].[Tasks] OFF
GO
SET IDENTITY_INSERT [dbo].[TaskStatuses] ON 

INSERT [dbo].[TaskStatuses] ([ID], [StatusName]) VALUES (5, N'Canceled')
INSERT [dbo].[TaskStatuses] ([ID], [StatusName]) VALUES (3, N'Completed')
INSERT [dbo].[TaskStatuses] ([ID], [StatusName]) VALUES (2, N'In Progress')
SET IDENTITY_INSERT [dbo].[TaskStatuses] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([ID], [Username], [Password], [RoleID]) VALUES (2, N'joshua.magoliman', N'joshua.magoliman', 1)
INSERT [dbo].[Users] ([ID], [Username], [Password], [RoleID]) VALUES (3, N'mariemelriosa', N'mariemelriosa', 2)
INSERT [dbo].[Users] ([ID], [Username], [Password], [RoleID]) VALUES (17, N'johndoe', N'johndoe', 2)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_RoleName]    Script Date: 02/14/2025 11:43:40 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_RoleName] ON [dbo].[Roles]
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_RoleName]    Script Date: 02/14/2025 11:43:40 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UK_RoleName] ON [dbo].[Roles]
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ActionID]    Script Date: 02/14/2025 11:43:40 AM ******/
CREATE NONCLUSTERED INDEX [IX_ActionID] ON [dbo].[TaskLogs]
(
	[ActionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CreatedBy]    Script Date: 02/14/2025 11:43:40 AM ******/
CREATE NONCLUSTERED INDEX [IX_CreatedBy] ON [dbo].[TaskLogs]
(
	[CreatedBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TaskPriorityID]    Script Date: 02/14/2025 11:43:40 AM ******/
CREATE NONCLUSTERED INDEX [IX_TaskPriorityID] ON [dbo].[TaskLogs]
(
	[TaskPriorityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TaskStatusID]    Script Date: 02/14/2025 11:43:40 AM ******/
CREATE NONCLUSTERED INDEX [IX_TaskStatusID] ON [dbo].[TaskLogs]
(
	[TaskStatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserID]    Script Date: 02/14/2025 11:43:40 AM ******/
CREATE NONCLUSTERED INDEX [IX_UserID] ON [dbo].[TaskLogs]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_PriorityName]    Script Date: 02/14/2025 11:43:40 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_PriorityName] ON [dbo].[TaskPriorities]
(
	[PriorityName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TaskPriorityID]    Script Date: 02/14/2025 11:43:40 AM ******/
CREATE NONCLUSTERED INDEX [IX_TaskPriorityID] ON [dbo].[Tasks]
(
	[TaskPriorityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TaskStatusID]    Script Date: 02/14/2025 11:43:40 AM ******/
CREATE NONCLUSTERED INDEX [IX_TaskStatusID] ON [dbo].[Tasks]
(
	[TaskStatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserID]    Script Date: 02/14/2025 11:43:40 AM ******/
CREATE NONCLUSTERED INDEX [IX_UserID] ON [dbo].[Tasks]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_StatusName]    Script Date: 02/14/2025 11:43:40 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_StatusName] ON [dbo].[TaskStatuses]
(
	[StatusName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RoleID]    Script Date: 02/14/2025 11:43:40 AM ******/
CREATE NONCLUSTERED INDEX [IX_RoleID] ON [dbo].[Users]
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Username]    Script Date: 02/14/2025 11:43:40 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Username] ON [dbo].[Users]
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_Username]    Script Date: 02/14/2025 11:43:40 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UK_Username] ON [dbo].[Users]
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TaskLogs]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TaskLogs_dbo.Actions_ActionID] FOREIGN KEY([ActionID])
REFERENCES [dbo].[Actions] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TaskLogs] CHECK CONSTRAINT [FK_dbo.TaskLogs_dbo.Actions_ActionID]
GO
ALTER TABLE [dbo].[TaskLogs]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TaskLogs_dbo.TaskPriorities_TaskPriorityID] FOREIGN KEY([TaskPriorityID])
REFERENCES [dbo].[TaskPriorities] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TaskLogs] CHECK CONSTRAINT [FK_dbo.TaskLogs_dbo.TaskPriorities_TaskPriorityID]
GO
ALTER TABLE [dbo].[TaskLogs]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TaskLogs_dbo.TaskStatuses_TaskStatusID] FOREIGN KEY([TaskStatusID])
REFERENCES [dbo].[TaskStatuses] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TaskLogs] CHECK CONSTRAINT [FK_dbo.TaskLogs_dbo.TaskStatuses_TaskStatusID]
GO
ALTER TABLE [dbo].[TaskLogs]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TaskLogs_dbo.Users_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[TaskLogs] CHECK CONSTRAINT [FK_dbo.TaskLogs_dbo.Users_CreatedBy]
GO
ALTER TABLE [dbo].[TaskLogs]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TaskLogs_dbo.Users_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[TaskLogs] CHECK CONSTRAINT [FK_dbo.TaskLogs_dbo.Users_UserID]
GO
ALTER TABLE [dbo].[Tasks]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Tasks_dbo.TaskPriorities_TaskPriorityID] FOREIGN KEY([TaskPriorityID])
REFERENCES [dbo].[TaskPriorities] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Tasks] CHECK CONSTRAINT [FK_dbo.Tasks_dbo.TaskPriorities_TaskPriorityID]
GO
ALTER TABLE [dbo].[Tasks]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Tasks_dbo.TaskStatuses_TaskStatusID] FOREIGN KEY([TaskStatusID])
REFERENCES [dbo].[TaskStatuses] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Tasks] CHECK CONSTRAINT [FK_dbo.Tasks_dbo.TaskStatuses_TaskStatusID]
GO
ALTER TABLE [dbo].[Tasks]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Tasks_dbo.Users_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Tasks] CHECK CONSTRAINT [FK_dbo.Tasks_dbo.Users_UserID]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Users_dbo.Roles_RoleID] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_dbo.Users_dbo.Roles_RoleID]
GO
USE [master]
GO
