
@{
    ViewBag.Title = "Page Not Found";
}

<br>
<h1 class="text-center" style="font-weight: bolder;">Page Not Found</h1>
<h2 class="text-center">We're sorry, we couldn't find the page you requested.</h2>
<br>